.container {
    padding: 30px 10%;
    flex-direction: row;
    max-width: 75rem;
    margin: 0px auto;
}

mat-form-field {
    padding-right: 32px;
}

.form {
    width: 100%;
}

.container-drinks {
    padding-top: 16px;
}

.mat-button-form {
    margin: 8px 8px 8px 0;
}

.mat-form-field-xs {
    width: 100% !important;
}

.form-xs {
    width: 100% !important;
}