<section class="section">
    <div class="content-detail-drink">
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="60" fxFlex.lt-lg="50">
                <img class="img-detail-drink" [src]="drink?.strDrinkThumb">
            </div>
            <div fxFlex="40" fxFlex.lt-lg="50" class="detail-drink">

                <h1>{{drink?.strDrink}}</h1>
                <h4>{{drink?.strCategory}}</h4>

                <h3 [style.padding-top.px]="24">Instructions:</h3>
                <p>{{drink?.strInstructions}}</p>

                <h3 [style.padding-top.px]="24">Ingredients:</h3>
                <ul>
                    <li *ngFor="let ingredientAndMeausures of drink?.ingredientAndMeausures">
                        {{ingredientAndMeausures}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>